<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD04V85n_ex7fLFUsGtM5RkrFNxNTLZU40</string>
	<key>GCM_SENDER_ID</key>
	<string>109376900105</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sereniqueFreshStart</string>
	<key>PROJECT_ID</key>
	<string>serenique-f58ce</string>
	<key>STORAGE_BUCKET</key>
	<string>serenique-f58ce.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:109376900105:ios:9c868c0541840b4bbf7cd8</string>
</dict>
</plist>